
@{
    ViewData["Title"] = "DocCreate";
    @section CustomSection{ }
}
    <div class="container">
        <div class="row ">
            <div class=" col mx-auto">
                <div class="col-sm-1">
                    <img src="~/IMG/Login/Back1.jpg" width="50" height="50" alt="Alternate Text" />
                </div>
                <div class="col-sm-4">
                    <p>Lorem ipsun code</p>
                </div>
            </div>
        </div>

    </div>